* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    font-family: 'DM Sans', sans-serif;
}

.crimson {
    font-family: 'Crimson Text', serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

@media only screen and (max-width: 1300px) {
    .container {
        max-width: 1100px;
    }
}
/* header part */
header {
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 100;
}
header .container {
    height: 100%;
}
header .header-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
header .left {
    display: flex;
    gap: 50px;
    align-items: center;
}
header .left-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}
header .left-menu a {
    text-decoration: none;
    color: #02073E;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
}
header .left-menu a:hover {
    color: crimson;
    transition: .5s;
}
ul {      
    list-style: none;
    display: flex;
    gap: 25px;
    height: 70px;
    position: relative;
}

ul li {
    
    height: 100%;
    padding-top: 20px;
    cursor: pointer;
    align-items: center;
}
.container .left-menu .drop {
    display: flex;
    align-items: center;
    gap: 5px;
}

ul li .dropdown {
    display: flex;
    background-color: #ececec;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 100%;
    width: 100px;
    display: none;
    width: 100%;
    left: 0;
}

ul li .dropdown a {
    text-decoration: none;
    color: crimson;
    display: inline-block;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li:hover .dropdown {
    display: block;
}
header .right {
    display: flex;
    align-items: center;
    gap: 30px;
}
header .right a {
    text-decoration: none;
    color: #0F2137;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
}
header .right a.get-started {
    color: #DB4A87;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 33px;
    position: relative;
}
header .line {
    position: absolute;
    top: 50%;
}

/* Hero Section */
.hero {
    padding: 50px 0;
}
.hero .hero-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.hero .left {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero .hero-title {
    color: #02073E;
    font-size: 72px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -3px;
}
.hero .hero-text {
    color: #02073E;
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
}
.hero .subscription {
    display: flex;
    gap: 15px;
}
.hero .subscription input {
    width: 350px;
    height: 60px;
    padding: 12px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #EFF3F7;
}
.hero .subscription button{
    width: 150px;
    height: 60px;
    padding: 12px 10px;
    flex-shrink: 0;
    border: none;
    border-radius: 5px;
    background: #DB4A87;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.hero .sponsored {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    width: 450px;
    height: 35px;
}
.hero .subscription button:hover {
    background-color: #e6166d;
}
.hero .right {
    flex-basis: 48%;
}
.hero .hero-content img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Service Section */
.service {
    width: 1175px;
    height: 370px;
    padding: 50px;
    margin: auto;
}
.service .service-top {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.service .service-top h2 {
    color: #0F2137;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -1px;
}
.service .service-top p {
    width: 527px;
    color: #0F2137;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}
.service .service-bottom {
    display: flex;
    margin-top: 100px;
}
.service .service-bottom .service-card {
    display: flex;
    gap: 25px;
    padding: 0 20px;
}
.service .service-bottom .service-right {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.service .service-bottom .service-right h3 {
    width: 265px;
    height: 30px;
    color: #0F2137;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.service .service-bottom .service-right p {
    width: 265px;
    height: 90px;
    color: #343D48;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/* Feature Section */
.feature {
    padding-top: 220px;
}
.feature .feature-content {
    display: flex;
    gap: 10px;
    margin: auto;
    width: 1149px;
    height: 677px;
}
.feature .image-wrapper {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.feature .bottom-img {
    max-width: 80%;
    display: block;
    width: 350px;
    height: 450px;
}
.feature .top-img {
    max-width: 100%;
    display: block;
    width: 350px;
    margin-left: -185px;
    height: 450px;
    margin-top: 70px;
    flex-shrink: 0;
}
.feature .feature-content .left {
    flex-basis: 48%;
    flex-grow: 1;
    flex-shrink: 0;
}
.feature .feature-content .right {
    flex-basis: 48%;
    flex-grow: 1;
    flex-shrink: 0;
}
.feature .right .right-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.feature .right .right-content-top {
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.feature .right-content-top .title {
    color: #0F2137;
    font-family: Crimson Text;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -1px;
}
.feature .right-content-top .text {
    color: #0F2137;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}
.feature .accordion-item.active {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 9px 30px 0px rgba(69, 88, 157, 0.08);
}
.feature .accordion-item.active .accordion-btn {
    background-color: transparent;
}
.feature .accordion .accordion-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    background: #F6F8FB;
    margin-bottom: 20px;
    padding: 30px 45px;
    cursor: pointer;
}
.feature .accordion .btn-text {
    color: #0F2137;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.feature .accordion .accordion-content {
    display: none;
}
.feature .accordion .accordion-content.active {
    display: block;
    padding: 20px;
}

/* Work Hard Section */
.work-hard {
    padding: 200px 0;
}
.work-hard-content {
    display: flex;
    align-items: center;
}
.work-hard .work-hard-content .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.work-hard .left-top {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.work-hard .title {
    display: flex;
    align-items: center;
    color: #0F2137;
    font-family: Crimson Text;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -1px;
    position: relative;
}
.work-hard .title img{
position: absolute;
top: 62px;
left: 450px;
}
.work-hard .left-top .text {
    width: 470px;
    color: #02073E;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}
.work-hard .left-bottom{
    display: flex;
    gap: 35px;
}
.work-hard .option-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.work-hard .option-left .option {
    display: flex;
    gap: 10px;
}
.work-hard .option-left .option .text {
    color: #02073E;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}
.work-hard .option-right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.work-hard .option-right .option {
    display: flex;
    gap: 11px;
}
.work-hard .option-right .option .text {
    color: #02073E;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}
.work-hard .work-hard-content .explore {
    color: #3183FF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    width: 80px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}
.work-hard .work-hard-content .explore:hover {
    color: #042a64;
    transition: .5s;
}
.work-hard .right img {
    display: block;
    max-width: 100%;
    height: auto;
}